<div *ngFor="let tarjeta of tarjetas" class="tarjeta-item">
    <div *ngFor="let item of tarjeta.attributes.tarjetas.data">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h6>{{ item.attributes.titulo }}</h6>
                    <h1>{{ item.attributes.subtitulo }}</h1>
                    <p>{{ item.attributes.texto }}</p>
                    <button class="btn btn-primary" *ngIf="item.attributes.boton">{{ item.attributes.boton }}</button>
                </div>
                <div class="col-6">
                    <div *ngFor="let imagen of item.attributes.imagenes.data">
                        <img [src]="'http://localhost:1337' + imagen.attributes.url " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngFor="let seccion of secciones; let indice=index" class="tarjeta-item">
    <div *ngFor="let tarjeta of seccion.attributes.tarjetas.data">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h6>{{ tarjeta.attributes.titulo }}</h6>
                    <h1>{{ tarjeta.attributes.subtitulo }}</h1>
                    <div *ngIf="indice==0">
                        <div *ngFor="let sucursal of sucursales">
                            <h6>{{sucursal.attributes.pais}}</h6>
                            <p>{{sucursal.attributes.direccion}}</p>
                            <p>{{sucursal.attributes.localidad}}</p>
                        </div>
                    </div>
                    <p>{{ tarjeta.attributes.texto }}</p>
                    <button class="btn btn-primary" *ngIf="tarjeta.attributes.boton">{{ tarjeta.attributes.boton
                        }}</button>
                </div>
                <div class="col-6">
                    <div *ngFor="let imagen of tarjeta.attributes.imagenes.data">
                        <img [src]="'http://localhost:1337' + imagen.attributes.url " alt="">
                    </div>
                </div>
                <div *ngIf="indice==2">
                    <div *ngFor="let empleado of empleados">
                        <img [src]="'http://localhost:1337' + empleado.attributes.imagen.data.attributes.url ">
                        <h6>{{empleado.attributes.nombre}}</h6>
                        <p>{{empleado.attributes.puesto}}</p>
                        <p>{{empleado.attributes.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>